<div class="h-screen md:flex">
    <div class="content-left md:w-1/2 flex justify-center items-center"
        style="background-image: url('/images/LogoFondo.jpg'); background-size: cover; background-position: center;">
    </div>
    <div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
        <form action="/links/add" method="POST" class="bg-white">
            <h1 class="text-gray-800 font-bold text-2xl mb-4">Ingresar Usuario</h1>

            {{#if errors}}
            <div id="message" class="alert alert-danger">
                <ul>
                    {{#each errors}}
                    <li>{{this.msg}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            {{#if success_msg}}
            <div class="alert alert-success">
                {{success_msg}}
            </div>
            {{/if}}

            {{#if error_msg}}
            <div class="alert alert-danger">
                {{error_msg}}
            </div>
            {{/if}}

            {{#if error}}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {{/if}}


            <!-- Elemento para mostrar mensajes de validación instantánea -->
            <div id="instant-message" class="alert alert-danger" style="display: none;"></div>

            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fas fa-user h-5 w-5 text-gray-400"></i>
                <input class="pl-2 outline-none border-none" type="text" id="nombre" name="nombre" placeholder="Nombre "
                    value="{{data.nombre}}" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fas fa-user-tag h-5 w-5 text-gray-400"></i>
                <input class="pl-2 outline-none border-none" type="text" id="apellido_paterno" name="apellido_paterno"
                    placeholder="Apellido Paterno" value="{{data.apellido_paterno}}" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fas fa-user-tag h-5 w-5 text-gray-400"></i>
                <input class="pl-2 outline-none border-none" type="text" id="apellido_materno" name="apellido_materno"
                    placeholder="Apellido Materno" value="{{data.apellido_materno}}" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fas fa-envelope h-5 w-5 text-gray-400"></i>
                <input class="pl-2 outline-none border-none" type="email" id="correo" name="correo" list="emailDomains" placeholder="usuario@"
                    value="{{data.correo}}" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fas fa-phone h-5 w-5 text-gray-400"></i>
                <input class="pl-2 outline-none border-none" type="text" id="telefono" name="telefono"
                    placeholder="Telefono" value="{{data.telefono}}" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <i class="fas fa-lock h-5 w-5 text-gray-400"></i>
                <input class="pl-2 outline-none border-none" type="password" id="contrasena" name="contrasena"
                    placeholder="Contraseña" maxlength="14" />
            </div>
            <div id="password-warning" class="alert alert-warning" style="display: none;">
                Has alcanzado el límite de 14 caracteres.
            </div>
            <div class="btn-group">
                <button class="btn btn-success btn-block">
                    Aceptar
                </button>
                <button class="btn btn-danger btn-block">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>

<script src="/js/funtions.js"></script>
<script src="/js/validator.js"></script>

<script>
    document.getElementById('cancelButton').addEventListener('click', function () {
        document.getElementById('userForm').reset();
    });
</script>