<div class="h-screen md:flex">
    <div class="content-left md:w-1/2 flex justify-center items-center"
        style="background-image: url('/images/LogoFondo.jpg'); background-size: cover; background-position: center;">
    </div>
    <div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
        <form action="/links/add" method="POST" class="bg-white">
            <h1 class="text-gray-800 font-bold text-2xl mb-4">Ingresar Usuario</h1>

            <!-- Mensajes de validación instantánea -->
            <div id="instant-message" class="alert" style="display: none;"></div>

            {{#if errors}}
            <div id="message" class="alert alert-danger">
                <ul>
                    {{#each errors}}
                    <li>{{this.msg}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            {{#if success_msg}}
            <div class="alert alert-success">
                {{success_msg}}
            </div>
            {{/if}}

            {{#if error_msg}}
            <div class="alert alert-danger">
                {{error_msg}}
            </div>
            {{/if}}

            {{#if error}}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {{/if}}

            <!-- Elemento para mostrar mensajes de validación instantánea -->
            <div id="instant-message" class="alert alert-danger" style="display: none;"></div>

            <!-- Input para 'nombre' con su respectivo mensaje de advertencia -->
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fas fa-user h-5 w-5 text-gray-400"></i>
                <input class="pl-2 outline-none border-none" type="text" id="nombreId" placeholder=" Nombre" name="nombre"
                    value="{{data.nombre}}" maxlength="25" minlength="3" />
            </div>
            <div id="nom-warning" class="alert alert-warning" style="display: none;">
                Has alcanzado el límite de 25 caracteres.
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fas fa-user-tag h-5 w-5 text-gray-400"></i>
                <input class="pl-2 outline-none border-none" type="text" id="apellido_paternoId" name="apellido_paterno"
                    placeholder="Apellido Paterno" value="{{data.apellido_paterno}}" maxlength="25" minlength="3" />
            </div>
            <div id="apellido-paterno-warning" class="alert alert-warning" style="display: none;">
                Has alcanzado el límite de 25 caracteres.
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fas fa-user-tag h-5 w-5 text-gray-400"></i>
                <input class="pl-2 outline-none border-none" type="text" id="apellido_maternoId" name="apellido_materno"
                    placeholder="Apellido Materno" value="{{data.apellido_materno}}" maxlength="25" minlength="3" />
            </div>
            <div id="apellido-materno-warning" class="alert alert-warning" style="display: none;">
                Has alcanzado el límite de 25 caracteres.
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fas fa-envelope h-5 w-5 text-gray-400"></i>
                <input class="pl-2 outline-none border-none" type="email" id="correoId" name="correo" list="emailDomains"
                    placeholder="usuario@" value="{{data.correo}}" maxlength="30" />
            </div>
            <div id="email-warning" class="alert alert-warning" style="display: none;">
                Has alcanzado el límite de 30 caracteres.
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fas fa-phone h-5 w-5 text-gray-400"></i>
                <input class="pl-2 outline-none border-none" type="text" id="telefonoId" name="telefono"
                    placeholder="Telefono" value="{{data.telefono}}" maxlength="10" minlength="10" />
            </div>
            <div id="phone-warning" class="alert alert-warning" style="display: none;">
                Has alcanzado el límite de 10 caracteres.
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <i class="fas fa-lock h-5 w-5 text-gray-400"></i>
                <input class="pl-2 outline-none border-none" type="password" id="contrasena" name="contrasena"
                    placeholder="Contraseña" maxlength="14" />
            </div>
            <div id="password-warning" class="alert alert-warning" style="display: none;">
                Has alcanzado el límite de 14 caracteres.
            </div>
            <div class="btn-group">
                <button class="btn btn-success btn-block">
                    Aceptar
                </button>
                
            </div>
        </form>
    </div>
</div>

<script src="/js/validatorInsert.js"></script>