<div class="main-index">
    <div class="index-module-header">
        <div>
            <img src="images/Logo Transparente.png" alt="Logo" class="index-module-header-logo">
        </div>
    </div>

    {{#if success_msg}}
    <div class="alert alert-success">
        {{success_msg}}
    </div>
    {{/if}}

    {{#if error_msg}}
    <div id="instant-message" class="alert alert-danger">
        {{error_msg}}
    </div>
    {{/if}}

    <div class="index-module-square">
        <h2>Inicio de Sesión</h2>
        <form action="/login" method="POST" class="login-form" id="loginForm">
            <div class="form-group">
                <label for="usuario">Usuario:</label>
                <input type="text" name="num_empleado" id="num_empleado" placeholder="Número de empleado"
                    class="form-control" value="{{data.num_usuario}}" autofocus maxlength="3" minlength="1" />
                {{#if errors.num_empleado}}
                <div class="alert alert-danger">{{errors.num_empleado.msg}}</div>
                {{/if}}
            </div>

            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" name="contrasena" placeholder="Contraseña" value="{{data.contrasena}}"
                    class="form-control" maxlength="14" />
                {{#if errors.contrasena}}
                <div class="alert alert-danger">{{errors.contrasena.msg}}</div>
                {{/if}}
            </div>

            <!-- Campo oculto para enviar la acción del botón -->
            <input type="hidden" id="actionType" name="actionType" value="">

            <div class="button-group">
                <button type="submit" class="btn common-button" data-action="ingresar">Ingresar</button>
                <button type="submit" class="btn common-button" data-action="gestionar">Gestionar Usuario</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/auth.js"></script>
